@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.mask-img {
  -webkit-mask-image: url("./Images/Splash.svg");
  mask-image: url("./Images/Splash.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}
.card-glass {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
main {
  display: grid;
  grid-template-columns: 250px auto; /* 25% for aside, 75% for the rest */
  grid-template-rows: auto auto auto; /* 25% for header, 75% for the rest */
  grid-template-areas:
    "side head head"
    "side content content"
    "side foot foot";
}
header {
  grid-area: head;
}
article {
  grid-area: content;
}
aside {
  grid-area: side;
}
footer {
  grid-area: foot;
}
.overflow-break-word {
  overflow-wrap: break-word !important;
  word-break: break-word !important;
}

table tbody tr:nth-of-type(odd) {
  background-color: var(--tw-red);
}
.bg-dotted {
  background-image: radial-gradient(#f8f9fa 1px, transparent 1px);
  background-size: 17px 17px;
  background-color: rgb(32, 32, 32);
}
.bg-lines-diagnol {
  background-image: repeating-linear-gradient(
    45deg,
    #f8f9fa 0,
    #f8f9fa 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 50px 50px;
  background-color: grey;
}
